:root {
  font-family: Nunito Sans, Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --light-text: #606060;
  --blue1: #3b709a;
  --blueish: #62a2d9;
  --green1: #33aa55;
  --green2: #55796c;
  --green-grey: #c9d0ca;
  --purple1: #72698d; /*#7D6488;*/
  --red1: #dd3600;
  --teal: #477b8a;
}

a {
  font-weight: 500;
  color: #2d7edb;
  text-decoration: inherit;
}
a:hover {
  color: #3891f9;
}

html, body {
  display: flex;
  width: 100vw ;
  height: 100vh;
  overflow: hidden;
  color: #444;
}

html {
  scroll-behavior: smooth;
}

html, * {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  background-color: #f7fafc;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: 15px 0;
}

h1 {
  font-size: 46px;
  line-height: 1.1;
}

h2 {
  font-size: 38px;
  line-height: 1.15;
}

h3 {
  font-size: 30px;
  line-height: 1.18;
}

h4 {
  font-size: 24px;
  line-height: 1.2;
}

h5 {
  font-size: 20px;
  line-height: 1.25;
}

h6 {
  font-size: 17px;
  line-height: 1.3;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

}
